<p>Thanks for submitting this form! You have submitted this form X times from now</p>

<h3>Submitted Information</h3>
<label>Name:</label><p></p>
<label>Dojo Location:</label><p></p>
<label>Favorite Language:</label><p></p>
<label>Comment:</label><p></p>
<input type="button" onclick="history.go(-1);" value="Go Back"> 